<div class="container mt-5 mb-5" style="background-color: #eee;">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-body p-md-5 mx-md-4">

        <div class="text-center">

          <h4 class="mt-1 mb-5 pb-1">Please login to your account</h4>
        </div>

        <form class="login-form">

          <div class="form-outline mb-4">
            <input type="text" id="username-login" class="form-control" />
            <label class="form-label" for="form2Example11">Username</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="password-login" class="form-control" />
            <label class="form-label" for="form2Example22">Password</label>
          </div>

          <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-warning btn-block fa-lg gradient-custom-2 mb-3" type="submit">Login</button>
            <a class="text-muted" href="#!">Forgot password?</a>
          </div>
        </form>

      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-body p-md-5 mx-md-4">

        <div class="text-center">

          <h4 class="mt-1 mb-5 pb-1">Please Create your new account</h4>
        </div>

        <form class="signup-form">

          <div class="form-outline mb-4">
            <input type="text" id="username-signup" class="form-control" />
            <label class="form-label" for="form2Example11">Username</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="password-signup" class="form-control" />
            <label class="form-label" for="form2Example22">Password</label>
          </div>

          <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-warning btn-block fa-lg gradient-custom-2 mb-3" type="btn submit">Sign
              Up</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<script src="/js/login.js"></script>